API_ID= 22008882

API_HASH= cd2ee55895cb3a12830bf2998c413b28

BOT_TOKEN= 7788244832:AAEVOZK3GP5NvamoGH_Yc6E2tVZfHtMfwzA

LOGGER_ID= -1002386681174

MONGO_DB_URI= mongodb+srv://SHASHANK:STRANGER@shashank.uj7lold.mongodb.net/?retryWrites=true&w=majority

OWNER_ID= 7703018672

STRING_SESSION=BQFNtIsAqrvY2HaleGsPHjdW_iYW8spUidFth64txojw53gG4tAkWOSMPUr-3WkXJSPUcXoWi6bUetpC8UsX5tZ_IXjR7gHZIgkWgBqj8Gcl0u1CjaNxX8lBHoCOBuPCHps7tJxTnxWFpJa0AmJb8r_imVQC4Khwiw97FvNoRz7p-QxuwmL3pdhnFOdJjruuFaIqAvx7iW4ZbnwMQX3Y-A9y8R5TkNzBxIkCTbMSlBZjFCndXB3Zr1KFKw2R-QY4jme679bKyr7YXYS84xM1cHuS1hxedlVJsrrcEaQHg3EbEF_aWn57Nwq8QPc2EQbXp5gwG7cgJWW6cwW0I2271baLEvmesAAAAAHLIrywAA
